*{
    margin: 0px;
    padding: 0px;
}
header{
    background-image:url("./image.jpg");
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    

   
}
.control{
     display: flex;
    gap: 300px;
    text-align: center;
    color: white;

}
.header h1{
    font-size: 50px;
    margin-left: 40px;
    margin-top: 10px;
}
ul{
    display: flex;
    list-style: none;
    gap: 50px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
    margin-top: 20px;
}

.inner1{
    width: 100%;
    height: 80px;
    background-color: #EFD9CC;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
   


}

.icons{
    display: flex;
    gap: 8px;
    
}
.hero0{
    margin-top: 20px;
}

.hero{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    margin-left: 120px;
    gap: 20px;
}
.her1{
    width: 260px;
    height: 350px;
    background-color: #EFD9CC;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}
img{
    width: 235px;
    height: 200px;
    border-radius: 10px;
    margin-left: 12px;
    margin-top: 10px;
}
.text{
    font-size: 15px;
    margin-left: 10px;

}

.All_hro{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;

}
.hello{
    text-align: center;

}
button{
    width: 100px;
    height: 30px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    
}
.box_button{
    display: flex;
    gap: 60px;
}

.countainer1{
    margin-top: 80px;
}

.container {
    max-width: 1500px;
    height: 160px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #EFD9CC;
    margin-top: 10px;
}